node_modules
dist
coverage
uploads
# .env
# .env.example
winston
logs
senaeya-59503-firebase-adminsdk-fbsvc-43c70aed06.json
the-mainland-firebase-adminsdk-fbsvc-48474320df.json
senaeya-59503-firebase-adminsdk-fbsvc-0333dd46c2.json
marafy-db4176b94356.json
.env
.env.example
temp_auto_push.bat
temp_interactive_push.bat
